html { 
		font-family: arial;
}
body {
		background-image: url('images/blue.jpg');
}

p {  
	text-align: left;
	padding: 0px 20px;
}

h1{	
	position: absolute;
	top: 0%;
	left: 580px;
	font-size: 37px;
}

h2 { 
	text-align: left; 
	padding: 0px 30px;
}

li { 
	display: inline;
	font-size: 13px;
	margin-left: 35px;


}

#box { background-color: white;
		height: 900px;
		width: 800px;
		text-align: center;
		margin: 0 auto 0 auto;


}

#menu {
	   height: 25px;
	   width: 700px;
	   display: inline;
	   position: absolute;
	   top: 212px;
	   left: 450px;

}


#blue { position:relative;

}

.reg { 	position: absolute;
	top: 50px;
	left: 580px;
	font-size: 18px;
}

.top-left {	
			display: inline;
			float: left;
			padding: 0px 8px;
}